/* BEM style */
.exercises {
    &__header {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__description {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__series {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
}

/* Custom styles */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-group-item {
    font-size: 1.1rem;
}

.exercise {
    margin-bottom: 2rem;
    border: 1px solid #e9ecef;
    padding: 15px;
    border-radius: 5px;
}