.card-header h3 {
    font-size: 1.25rem;
    /* Reduz a fonte do título dos exercícios */
}

.card-header {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercise__description {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.exercise__series i {
    margin: .8rem .3rem .3rem .1rem;
}

body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.nav-link.active {
    background-color: #007bff;
    border-radius: 0.25rem;
    color: white;
}

.nav-link:hover {
    background-color: #0056b3;
    color: white;
}

.collapse {
    transition: all 0.3s ease;
}