<div class="container my-5">
    <h1 class="text-center mb-1">FitLog</h1>
    <h5 class="text-center mb-4">Seu plano de treino</h5>

    <!-- Navegação por dias da semana -->
    <ul class="nav nav-pills mb-2 justify-content-center" id="weekTab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let day of weekDays">
            <button class="nav-link"
                [ngClass]="{'active': getActiveDay().value === day.value}"
                [id]="day.value + '-tab'"
                (click)="setActiveDay(day.value)"
                type="button"
                [disabled]="isWeekDaysTabDisabled">
                {{ day.label }}
            </button>
        </li>
    </ul>

    <!-- Conteúdo dos tabs [attr.data-bs-toggle]="isWeekDaysTabDisabled ? null : 'tooltip'" -->
    <div class="tab-content" id="weekTabContent">
        <div class="tab-pane fade"
            [ngClass]="{'show active': getActiveDay() === getSelectedWeeklyDay()}"
            [id]="value"
            role="tabpanel"
            [attr.aria-labelledby]="value + '-tab'">
            <div class="accordion" [id]="'accordion' + labelEn">
                <app-exercise-item
                    [accordionId]="'accordion' + labelEn"
                    [activeDay]="value"
                    [workoutDay]="workoutDay"
                    (blockWeekDaysNavigation)="changeWeekDaysTabState($event)">
                </app-exercise-item>
            </div>
        </div>
    </div>
</div>