<div class="container my-5">
    <h1 class="text-center mb-5">Meus Exercícios</h1>

    <!-- Navegação por dias da semana -->
    <ul class="nav nav-pills mb-3 justify-content-center" id="weekTab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let day of weekDays">
            <button class="nav-link"
                [ngClass]="{'active': activeDay === day.value}"
                [id]="day.value + '-tab'"
                (click)="setActiveDay(day.value)"
                type="button">
                {{ day.label }}
            </button>
        </li>
    </ul>

    <!-- Conteúdo dos tabs -->
    <div class="tab-content" id="weekTabContent">
        <div class="tab-pane fade"
            *ngFor="let day of weekDays"
            [ngClass]="{'show active': activeDay === day.value}"
            [id]="day.value"
            role="tabpanel"
            [attr.aria-labelledby]="day.value + '-tab'">
            <div class="accordion" [id]="'accordion' + day.labelEn">
                <app-exercise-item
                    *ngFor="let exercise of weeklyWorkout[day.value]?.exercises"
                    [exercise]="exercise"
                    [accordionId]="'accordion' + day.labelEn">
                </app-exercise-item>
            </div>
        </div>
    </div>
</div>