<div class="container my-5">
    <h1 class="text-center mb-5">Meus Exercícios</h1>

    <!-- Navegação por dias da semana -->
    <ul class="nav nav-pills mb-3 justify-content-center" id="weekTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeDay === 'monday'}" id="monday-tab"
                (click)="setActiveDay('monday')" type="button">
                Segunda
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeDay === 'tuesday'}" id="tuesday-tab"
                (click)="setActiveDay('tuesday')" type="button">
                Terça
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeDay === 'wednesday'}" id="wednesday-tab"
                (click)="setActiveDay('wednesday')" type="button">
                Quarta
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeDay === 'thursday'}" id="thursday-tab"
                (click)="setActiveDay('thursday')" type="button">
                Quinta
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" [ngClass]="{'active': activeDay === 'friday'}" id="friday-tab"
                (click)="setActiveDay('friday')" type="button">
                Sexta
            </button>
        </li>
    </ul>

    <!-- Conteúdo dos tabs -->
    <div class="tab-content" id="weekTabContent">
        <div class="tab-pane fade" [ngClass]="{'show active': activeDay === 'monday'}" id="monday" role="tabpanel"
            aria-labelledby="monday-tab">
            <div class="accordion" id="accordionMonday">
                <app-exercise-item *ngFor="let exercise of exercises['monday']" [exercise]="exercise"
                    accordionId="accordionMonday"></app-exercise-item>
            </div>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active': activeDay === 'tuesday'}" id="tuesday" role="tabpanel"
            aria-labelledby="tuesday-tab">
            <div class="accordion" id="accordionTuesday">
                <app-exercise-item *ngFor="let exercise of exercises['tuesday']" [exercise]="exercise"
                    accordionId="accordionTuesday"></app-exercise-item>
            </div>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active': activeDay === 'wednesday'}" id="wednesday" role="tabpanel"
            aria-labelledby="wednesday-tab">
            <div class="accordion" id="accordionWednesday">
                <app-exercise-item *ngFor="let exercise of exercises['wednesday']" [exercise]="exercise"
                    accordionId="accordionWednesday"></app-exercise-item>
            </div>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active': activeDay === 'thursday'}" id="thursday" role="tabpanel"
            aria-labelledby="thursday-tab">
            <div class="accordion" id="accordionThursday">
                <app-exercise-item *ngFor="let exercise of exercises['thursday']" [exercise]="exercise"
                    accordionId="accordionThursday"></app-exercise-item>
            </div>
        </div>

        <div class="tab-pane fade" [ngClass]="{'show active': activeDay === 'friday'}" id="friday" role="tabpanel"
            aria-labelledby="friday-tab">
            <div class="accordion" id="accordionFriday">
                <app-exercise-item *ngFor="let exercise of exercises['friday']" [exercise]="exercise"
                    accordionId="accordionFriday"></app-exercise-item>
            </div>
        </div>
    </div>
</div>