<div class="container p-5">
    <div class="text-center">
        <img src="./assets/favicon.png" class="rounded" alt="FitLog" style="max-width: 15em;">
    </div>

    <div class="container text-center my-5">
        <h1>Bem-vindo ao Registro de Treinos</h1>
        <p class="lead">Esta plataforma permite que você registre e acompanhe seus treinos de academia de forma
            fácil e eficiente.</p>
        <a [routerLink]="['/exercises']" class="btn btn-primary">Começar</a>
    </div>
</div>